*~
steer_controller/arduino/steer_controller_dac_encoder_interface/steer_controller_dac_encoder_interface/ArduinoCore/Release/
steer_controller/arduino/steer_controller_dac_encoder_interface/steer_controller_dac_encoder_interface/steer_controller_dac_encoder_interface/Release/
steer_controller/arduino/steer_controller_dac_encoder_interface/.vs/steer_controller_dac_encoder_interface/v14/