<launch>
  <!-- Medicion de baterias -->

  <!-- Nodo1: Voltage celdas -->
  <group ns="bat">
    <node name="measure_battery_cells" pkg="battery_charge" type="battery_charge_node" output="screen">
      <param name="SERIAL_PORT" value="/dev/serial/by-id/usb-Ual-ARM-eCARM_Monitor_bateria_FT2UQ2L7-if00-port0" />
    </node>
  </group>


</launch>
