<launch>
  <node name="ual_ecar_vehicle_controller" pkg="ual_ecar_vehicle_controller" type="ual_ecar_vehicle_controller_node" output="screen">
  </node>
  <node name="phidgets_high_speed_encoder" pkg="phidgets_high_speed_encoder" type="phidgets_high_speed_encoder" output="screen">
  </node>
  <node name="joystick_driving" pkg="joystick_driving" type="joystick_driving_node" output="screen">
  </node>
  <node name="ual_ecar_odometry" pkg="ual_ecar_odometry" type="ual_ecar_odometry_node" output="screen">
    <param name="rawlog_obs_prefix" value="/home/ecar/datasets/dataset_odom" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find ual_ecar_config)/launch/vis_default.rviz" />


</launch>
