<launch>
  <node name="ual_ecar_vehicle_controller" pkg="ual_ecar_vehicle_controller" type="ual_ecar_vehicle_controller_node" output="screen">
    <param name="STEER_SERIAL_PORT" value="/dev/serial/by-id/usb-UAL_Claraquino_#1__FT232R_USB_UART__A71VGDJN-if00-port0" />
    <param name="SPEEDCRUISE_SERIAL_PORT" value="/dev/serial/by-id/usb-Ual-ARM-eCARM_Claraquino_eCARM_FT37TV91-if00-port0" />
    <param name="DECIM_ADC_STEER" value="1" />
    <param name="DECIM_ENCABS_STEER" value="1" />
    <param name="DECIM_ENCINC_STEER" value="1" />
    <param name="DECIM_CONTROLSIGNAL_STEER" value="1" />
    <param name="DECIM_ADC_SPEEDCRUISE" value="1" />
    <param name="DECIM_ENCINC_SPEEDCRUISE" value="1" />
    <param name="DECIM_CONTROLSIGNAL_SPEEDCRUISE" value="2" />
  </node>

  <node name="libredaq" pkg="libredaq" type="libredaq_node" output="screen">
    <param name="joint0_name" value="wheel_RL" />
    <param name="joint1_name" value="wheel_RR" />
    <param name="joint0_tick2rad" value="1.0" />
    <param name="joint1_tick2rad" value="1.0" />
    <param name="serial_port" value="/dev/serial/by-id/usb-LibreDAQ_LDAQ-BASE_0001-if00" />
  </node>

  <node name="joystick_driving" pkg="joystick_driving" type="joystick_driving_node" output="screen">
  </node>

  <include file="$(find ual_ecar_config)/launch/ual_ecar_odometry.launch" />

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find ual_ecar_config)/launch/vis_default.rviz" />


</launch>
